@(elements: helper.FieldElements)

@**************************************************
* Generate input according twitter bootsrap rules *
**************************************************@
<div class="form-group @if(elements.hasErrors) {error}">
    @glyphicon = @{elements.args.get('glyphicon).getOrElse("glyphicon-user")}
    <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon @glyphicon"></span></span>
            @elements.input
    </div>
    @if(elements.hasErrors) { <p class="alert alert-danger">@elements.errors(Lang("fr")).mkString(", ")</p> }
</div>
